@using WebUI.Resources
@inject LocalizationService Resource

    <h2>@Resource["AdminArea"]</h2>
<hr />
@{
    <div>
        <a href="/Admin/Users/List">
            <img src="~/Images/users.png" />
        </a>
    </div>
}
