@using WebUI.Resources
@inject LocalizationService Resource

    <div class="card-deck">
        <div class="card text-center" style="max-width: 10rem;">
            <a href="/Admin/Users/List" style="text-decoration: none;">
                <img src="~/Images/users.png" class="card-img-top" />
                <div class="card-body">
                    <h7 class="card-title">@Resource["Users"]</h7>
                </div>
            </a>
        </div>
        <div class="card text-center" style="max-width: 10rem;">
            <a href="/Admin/Cities/List" style="text-decoration: none;">
                <img src="~/Images/map.png" class="card-img-top" />
                <div class="card-body">
                    <h7 class="card-title">@Resource["Cities"]</h7>
                </div>
            </a>
        </div>
        <div class="card text-center" style="max-width: 10rem;">
            <a href="/Admin/Stores/List" style="text-decoration: none;">
                <img src="~/Images/stores.png" class="card-img-top" />
                <div class="card-body">
                    <h7 class="card-title">@Resource["Stores"]</h7>
                </div>
            </a>
        </div>
        <div class="card text-center" style="max-width: 10rem;">
            <a href="/Admin/Products/List" style="text-decoration: none;">
                <img src="~/Images/products.png" class="card-img-top" />
                <div class="card-body">
                    <h7 class="card-title">@Resource["Products"]</h7>
                </div>
            </a>
        </div>
    </div>


